@charset "UTF-8";
@import "tailwindcss";

html, body {
    margin: 0px;
    padding: 0px;
}

header {
    font-family: arial;
    font-size: 1.8em;
    margin: 30px 40px 30px 40px;
    display: flex;
    justify-content: space-between;

    h1 {
        font-size: 1.4em;
        padding: 0px;
        margin: 0px;
    }

    #links {
        text-align: right;
        a {
            color: black;
            font-size: .8em;
            padding-left: 25px;
            text-decoration: none;
        }
    }
}

main {
    border-top: solid;
    margin-bottom: 20px;
}

#descricao {
    background-color: beige;
    display: flex;
    padding: 200px 0px 100px 100px;

    h1 {
        font-family: monospace;
        font-size: 5em;
        font-style: initial;
        font-weight: bold;
    }

    label {
        padding-top: 100px;
        padding-right: 50px;
        font-size: 1.3em;
        font-family: arial;
        button {
            padding: 10px;
            font-family: monospace;
            border-style: solid black 1px;
            border-radius: 50px;
        }
    }

}

#aluguel {
    padding: 100px 0px 0px 0px;
    border-top: solid;

    #title-aluguel {
        font-size: 5em;
        font-family: monospace;
        font-weight: bold;
        margin-left: 100px;
    }

    #table-aluguel {
        display: flex; 
        
        label {
            border: solid;
            border-radius: 5px;
            border-width: 1px;
            border-color: gray;
            margin: 70px 0px 0px 0px;
            padding: 70px 0px 0px 100px;
            width: 400px;
            height: 200px;
        }
    }

}

#tipos-de-servico {
    display: flex;

    margin: 200px 0px 0px 50px;
    h2 {
        font-family: monospace;
        font-weight: bold;
        font-size: 2.5em;
        margin-left: 80px;
    }
    .texto-servico {
        margin: 0px 60px 0px 0px;
        width: 500px;
        text-align: center;
        font-family: arial;
    }
    button {
        margin-left: 180px;
        border-style: solid black 1px;
        border-radius: 50px;
        padding: 10px 15px;
    }
}

#contato {
    text-align: center;
    margin: 200px 0px 100px 0px;
    font-family: arial;
    h1 {
        font-family: monospace;
        font-size: 5em;
    }
    #descricao-contato {
        display: block;
        width: 50%;
        margin-left: 25%;
        font-size: 1.3em; 
    }
}

#business {
    margin-top: 200px;
    text-align: center;
    font-family: arial;
}

@media (max-width: 1000px) {

    header {
        margin-right: 30px;
        #links {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 100%;
        }
    }

    #descricao {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 0px;
        text-align: center;
        h1 { 
            font-size: 300%;
        }
        label {
            padding: 40px 10% 0% 10%;
            font-size: 120%;
        }

    }
    
    #aluguel {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        #title-aluguel {
            margin-left: 0px;
            font-size: 400%;
        }
        #table-aluguel {
            width: 80%;
            label {
                padding: 65px 0px 0px 0px;
            }
        }
    }

    #tipos-de-servico {
        flex-wrap: wrap;
        margin-left: 0px;
        margin-top: 130px;
        justify-content: center;
        div {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            h2 {
                font-size: 200%;
                text-align: center;
                margin-left: 0px;
            }
            .texto-servico {
                width: 100%;
                margin-right: 0px;
                padding: 30px 20px;
                text-align: center;
            }
            button {
                margin: 0px 0px 70px 0px;
                padding: 10px;
                font-family: monospace;
                border: solid 1px;
                border-radius: 50px;
            }
        }
    }

    #contato {
        margin: 100px 0px 50px 0px;
    }

}
